.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-size: 24px;
  margin-top: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width: 80%;
}

.item {
  padding: 20px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
